.main {
    margin-top: 60px;
    margin-bottom: 62px;
    padding: 10px 20px 15px;
    color: black;
    background-color: white;
}

.title_style {
    color: #4AAAA5;
    font-family: serif;
    font-weight: bold;
}

.body {
    background-color: #EDEDED;
}

p {
    font-family: sans-serif;
    color: darkgray;
    line-height: 2em;
}

.navbar {
    background-color: white;
    font-size: 15px;
}

.navbar-brand {
    font-family: serif;
    font-weight: bold;
    background-color: #4AAAA5;
    color: white;
}

.viz_img {
    width: 600px;
    height: auto;
}

.comp-img {
    width: 100%;
    height: auto;
}

.comp-title {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 700px) {
    .viz_img {
        width: 500px;
        height: auto;
    }
}